/*Equilibrium #3429

  Our Equilibrium collection promotes balance and calm.

  0.041 ETH
  3 days left
  
  Creation of Jules Wyvern*/

  body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    max-width: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main {
    background-color: hsl(216, 50%, 16%);
    color: hsl(215, 51%, 70%);
    border-radius: 1.5rem;
    max-width: 400px;
  }

  .img-nft{
    width: 100%;
  }